<app-header>
    <span class="mx-3">Harry potter</span>
    <app-button [buttonText]="'Logout'"></app-button>
</app-header>

<app-course-list 
    [isEditable]="isEditable"
    [courses]="courses"
    (courseShownEvent)="openModal($event)"
></app-course-list>

<app-confirm-modal *ngIf="selectedCourse"
    [title]="selectedCourse.title"
    [message]="selectedCourse.description"
    [okButtonText]="modalOkButtonText"
    [cancelButtonText]="cancellButtonText"
    (modalResultEvent)="handleModalResult($event)"
>
</app-confirm-modal>

